name: windows-binaries

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:   # allows manual trigger


jobs: 
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install VS2017 Build Tools with v140 toolset + Windows 8.1 SDK
        run: |
          choco install visualstudio2017buildtools --package-parameters `
            "--add Microsoft.VisualStudio.Workload.VCTools `
            --add Microsoft.VisualStudio.Component.VC.v140.x86.x64 `
            --add Microsoft.VisualStudio.Component.Windows81SDK `
            --includeRecommended --includeOptional" -y
          refreshenv

      - uses: nuget/setup-nuget@v2
        with:
          nuget-version: '5.x'

      - run: nuget restore win32/kcat.sln

      - name: Build kcat (x64 Release)
        run: msbuild win32\kcat.sln /p:Configuration=Release /p:Platform=x64


      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: kcat-windows-x64
          path: |
            win32\x64\Release\*.exe
            win32\x64\Release\*.dll        
