name: windows-binaries

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs: 
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@master


      - name: Install VS2017 Build Tools with v140 toolset + Windows 8.1 SDK
        run: |
          choco install visualstudio2017buildtools --package-parameters `
            "--add Microsoft.VisualStudio.Workload.VCTools `
            --add Microsoft.VisualStudio.Component.VC.v140.x86.x64 `
            --add Microsoft.VisualStudio.Component.Windows81SDK `
            --includeRecommended --includeOptional" -y
          refreshenv

      - uses: nuget/setup-nuget@v2
        with:
          nuget-version: '5.x'

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - run: nuget restore win32/kcat.sln

      - name: Build app for release
        run: msbuild win32/kcat.sln /p:Configuration=Release
