name: windows-binaries

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]



jobs: 
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@master
      - uses: nuget/setup-nuget@v2
        with:
          nuget-version: '5.x'

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - run: nuget restore win32/kcat.sln

      - name: Build app for release
        run: msbuild win32/kcat.sln
